.progress-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
}

.progress-bar {
    width: 100%;
    height: 14px;
    background-color: #e5e7eb;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 10px;
}

.progress-fill {
    height: 100%;
    width: 15%;
    background: linear-gradient(to right, #0000ff, #0000aa);
    border-radius: 8px;
}

.formation-headr {
    background: linear-gradient(90deg, #1f2b74 0%, #0040FF 100%);
    padding: 40px 20px;
    border-radius: 20px 20px 0px 0px;
    margin-top: 20px;
    margin-bottom: 30px;
}


#cards-container {

    display: grid;
    padding-left: 10px;
    padding-right: 10px;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;

}