.progress-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
}

.progress-bar {
    width: 100%;
    height: 14px;
    background-color: #e5e7eb;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 10px;
}

.progress-fill {
    height: 100%;
    width: 15%;
    background: linear-gradient(to right, #0000ff, #0000aa);
    border-radius: 8px;
}

.formation-headr {
    background: linear-gradient(90deg, #1f2b74 0%, #0040FF 100%);
    padding: 40px 20px;
    border-radius: 20px 20px 0px 0px;
    margin-top: 20px;
    margin-bottom: 30px;
}


#cards-container {

    display: grid;
    padding-left: 10px;
    padding-right: 10px;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;

}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-family: 'Oxygen', sans-serif;
  
  
}

.form-group label {
  margin-bottom: 5px;
  font-weight: 600;
  color: #333;
}

.form-group input {
  padding: 10px 14px;
  border: 1.5px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
  transition: all 0.3s ease;
}

.form-group input:focus {
  border-color: #4DC2C3; /* highlight color */
  box-shadow: 0 0 4px rgba(77, 194, 195, 0.5);
}
