.progress-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
}

.progress-bar {
    width: 100%;
    height: 14px;
    background-color: #e5e7eb;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 10px;
}

.progress-fill {
    height: 100%;
    background: linear-gradient(to right, #0000ff, #0000aa);
    border-radius: 8px;
}


.formation-headr {
    background: linear-gradient(90deg, #1f2b74 0%, #0040FF 100%);
    padding: 40px 20px;
    border-radius: 20px 20px 0px 0px;
    margin-top: 20px;
    margin-bottom: 30px;
}


.modal_continaire {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(195, 190, 190, 0.644);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
}

.modal_continaire.afficheFormulaire {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    background-color: rgb(255, 255, 255);
    padding: 30px 50px;
    border-radius: 5px;
    width: 500px;
    max-width: 100%;
    text-align: center;
    height: 100%;
}


/* #cards-container {
    display: grid;
    padding-left: 10px;
    padding-right: 10px;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
} */




.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}


.form-group label {
    margin-bottom: 8px;
    font-weight: 600;
    color: #333;
    font-size: 14px;
}

.form-group input {
    padding: 12px 14px;
    border: 2px solid #e6e6e6;
    border-radius: 8px;
    font-size: 15px;
    outline: none;
    transition: all 0.3s ease;
}

.form-group input:focus {
    border-color: #4DC2C3;
    box-shadow: 0 0 6px rgba(77, 194, 195, 0.3);
}

.form-group input:focus {
    border-color: #4DC2C3;
    box-shadow: 0 0 4px rgba(77, 194, 195, 0.5);
}

#message {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

#valider {
    color: rgb(63, 150, 5);
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.container {
    background-color: #ffffff;
    width: 100%;
    max-width: 480px;
    padding: 40px 50px;
    border-radius: 16px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}